<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "http://www.loto.app.br", class: "navbar-brand" do %>
    <%= image_tag "Lotoapp4.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> <%# bs acrescentado para toggle e target  %>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <%# <li class="nav-item active"> %>
          <%# <button id="botao-root" class="btn btn-primary">INÍCIO</button> %>
          <%# <a class="nav-link" href="http://www.loto.app.br">Início</a> %>
        <%# </li> %>
        <li class="nav-item active">
          <%# <button id="botao-root" class="btn btn-primary">INÍCIO</button> %>
          <a class="nav-link" href="javascript:;" id="botao-root" >Início</a>
          <%#= link_to "Início", "/", class: "nav-link" %> <%# isso não estava funcionando  %>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="javascript:;" id="botao-conjuntos" >Conjuntos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="javascript:;" id="botao-sorte" >Teste da Sorte</a>
        </li>
        <%# <li class="nav-item"> %>
          <%#= link_to "Conjuntos", "http://www.loto.app.br/conjuntos", class: "nav-link" %>
        <%# </li> %>
        <%# <li class="nav-item">
          <%= link_to "Teste da Sorte", "sorte", class: "nav-link" 
        </li> %>
        <li class="nav-item">
          <%# <%= link_to "Estatística", "http://localhost:3000", class: "nav-link" %>
          <a class="nav-link" href="javascript:;" id="botao-estatistica" >Estatística</a>
        </li> 
        <%#  
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/epdgit", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false 
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Sorteios", "sorteios", class: "dropdown-item" 
            <%= link_to "Another action", "#", class: "dropdown-item" 
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" 
          </div> 
        </li> %>
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="assets/logo4.png" />
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%#= link_to "Sorteios", "sorteios", class: "dropdown-item" %>
            <a class="dropdown-item" href="javascript:;" id="botao-sorteios" >Sorteios</a>
            <%# <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a> %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%# <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a> %>
          </div>
        </li>


      <% else %>
        <%# <li class="nav-item active"> %>
          <%# <button id="botao-root" class="btn btn-primary">INÍCIO</button> %>
          <%# <a class="nav-link" href="http://www.loto.app.br">Início</a> %>
        <%# </li> %>
        <li class="nav-item active">
          <%# <button id="botao-root" class="btn btn-primary">INÍCIO</button> %>
          <a class="nav-link" href="javascript:;" id="botao-root" >Início</a>
          <%#= link_to "Início", "/", class: "nav-link" %> <%# isso não estava funcionando  %>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="javascript:;" id="botao-conjuntos" >Conjuntos</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="javascript:;" id="botao-sorte" >Teste da Sorte</a>
        </li>
        <%# <li class="nav-item"> %>
          <%#= link_to "Conjuntos", "http://www.loto.app.br/conjuntos", class: "nav-link" %>
        <%# </li> %>
        <%# <li class="nav-item">
          <%= link_to "Teste da Sorte", "sorte", class: "nav-link" 
        </li> %>
        <li class="nav-item">
          <%# <%= link_to "Estatística", "http://localhost:3000", class: "nav-link" %>
          <a class="nav-link" href="javascript:;" id="botao-estatistica" >Estatistica</a>
        </li>      
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
