<%# <p><%= @ultimo.last </p>
<% 
for x in @ultimo

<%= p x
<% end %>

<%= @ultimo.size %>
<p><%= @array_duplas_fim %></p>
<p><%= @array_ternos_fim %></p>
<p><%= @array_quadras_fim %></p>
<p><%= @array_quinas_fim %></p>
<p><%= @hash_final_todos_numeros  %></p>

